/* Hero & Navbar */
.hero .navbar .navbar-burger {
  @include desktop {
    position: absolute;
    top: 0;
    right: 0;
  }
}
.hero .navbar .navbar-menu .navbar-start {
  @include desktop {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
.hero .navbar .navbar-menu .navbar-end {
  @include desktop {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
.navbar-dropdown {
  background-color: $primary;
}
