h1 {
  @extend .is-size-3-tablet;
  @extend .is-size-4-mobile;
}
h2 {
  @extend .is-size-4-mobile;
  @extend .is-size-5-tablet;
}
h3 {
  @extend .is-size-5-mobile;
  @extend .is-size-6-tablet;
}
h4 {
  @extend .is-size-6-mobile;
  @extend .is-size-7-tablet;
}
h5 {
  @extend .is-size-7-mobile;
}
.section {
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-top: 1.5rem;
  }
}
ol,
ul {
  padding-top: 1rem;
  padding-left: 4rem;
  padding-bottom: 1rem;
}
ul {
  list-style-type: disc;
}
