.bubbles {
  @include block(1rem);
  margin-top: 1rem;
  padding: 0.5rem;
  padding-bottom: 1.5rem;
}
.bubble {
  @include block(1.5rem);
  position: relative;
  padding: 0.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: $info;
  border-radius: $radius-large;
  color: $text-invert;
}
.bubble > .bubble-name {
  color: $text-invert-strong;
}
.bubble.bubble-bottom-left {
  margin-right: 1rem;
  border-bottom-left-radius: 0;
}
.bubble.bubble-bottom-left:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 1px;
  left: 0;
  border: 1rem solid transparent;
  border-top-color: $info;
  border-bottom: 0;
  border-left: 0;
  margin-bottom: -1rem;
  display: block;
}
.bubble.bubble-bottom-right {
  margin-left: 1rem;
  border-bottom-right-radius: 0;
}
.bubble.bubble-bottom-right:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 1px;
  right: 0;
  border: 1rem solid transparent;
  border-top-color: $info;
  border-bottom: 0;
  border-right: 0;
  margin-bottom: -1rem;
  display: block;
}
.bubble.bubble-Sam {
  background-color: $primary;
}
.bubble.bubble-Sam:after {
  border-top-color: $primary;
}
.bubble.bubble-Cat {
  background-color: $secondary;
}
.bubble.bubble-Cat:after {
  border-top-color: $secondary;
}
