@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

/* Strawberry Disaster Palette */
$indian-red: #c4656e;
$falu-red: #782522;
$hunyadi-yellow: #fbb13c;
$fawn: #ffc07f;
$cerulean: #4281a4;
$verdigris: #48a9a6;
$eerie-black: #1c2321;

// $jasper: #c24f3cff;
// $persian-red: #ca3c2e;
// $avocado: #717e32;
$ultra-violet: #585191;
// $tekhelet: #4f359b;
// $pale-dogwood: #f4d6cc;
// $desert-sand: #d7b8a1ff;
// $raisin-black: #222228ff;
// $chocolate-cosmos: #591f25ff;
// $bole: #805044ff;
// $ash-gray: #abb6a9ff;
// $beaver: #bc8f79ff;
// $wenge: #514949ff;
// $paynes-gray: #576b70ff;

/* Bulma Colors */
$primary: $indian-red;
$link: $ultra-violet;
$info: $cerulean;
$success: $verdigris;
$warning: $fawn;
$danger: $falu-red;

$dark: $eerie-black;
$light: findColorInvert($dark);

$scheme-main: $light;
$scheme-main-ter: findLightColor($scheme-main);
$scheme-main-bis: findDarkColor($scheme-main);
$schema-invert: findColorInvert($scheme-main);
$scheme-invert-ter: findLightColor($schema-invert);
$scheme-invert-bis: findDarkColor($schema-invert);

$background: $light;

$text: $dark;
$text-light: findLightColor($text);
$text-strong: findDarkColor($text);
$text-invert: findColorInvert($text);
$text-invert-light: findColorInvert($text-light);
$text-invert-strong: findColorInvert($text-strong);

// Cards
$card-background-color: $primary;
$card-color: $text-invert;
$card-header-color: $text-invert-strong;
