@use "sass:list";
@use "sass:math";
@use "sass:string";

@mixin heroBackgroundImage($url, $sourceWidth, $dppx) {
  @include mobile {
    $targetWidth: 768;
    $sourceDppx: math.div($sourceWidth, $targetWidth) * $dppx;
    $targetWidth1x: math.div(1, $dppx) * $targetWidth;
    $targetWidth2x: math.div(2, $dppx) * $targetWidth;
    $targetWidth3x: math.div(3, $dppx) * $targetWidth;
    $imageSetList: ();
    // 1x
    @if $targetWidth1x <= $sourceWidth {
      $imageSetList: append(
        $imageSetList,
        url("#{$url}?as=webp&width=#{$targetWidth1x}") 1x,
        comma
      );
      // 2x
      @if $targetWidth2x <= $sourceWidth {
        $imageSetList: append(
          $imageSetList,
          url("#{$url}?as=webp&width=#{$targetWidth2x}") 1x,
          comma
        );
        // 3x
        @if $targetWidth3x <= $sourceWidth {
          $imageSetList: append(
            $imageSetList,
            url("#{$url}?as=webp&width=#{$targetWidth3x}") 1x,
            comma
          );
        } @else {
          $imageSetList: append(
            $imageSetList,
            url("#{$url}?as=webp") $sourceDppx + x,
            comma
          );
        }
      } @else {
        $imageSetList: append(
          $imageSetList,
          url("#{$url}?as=webp") $sourceDppx + x,
          comma
        );
      }
    } @else {
      $imageSetList: append(
        $imageSetList,
        url("#{$url}?as=webp") $sourceDppx + x,
        comma
      );
    }
    background-image: url("#{$url}?as=jpeg&width=#{$targetWidth1x}");
    background-image: -webkit-image-set($imageSetList);
    background-image: image-set($imageSetList);
  }
  @include tablet {
    $targetWidth: 960;
    $sourceDppx: math.div($sourceWidth, $targetWidth) * $dppx;
    $targetWidth1x: math.div(1, $dppx) * $targetWidth;
    $targetWidth2x: math.div(2, $dppx) * $targetWidth;
    $targetWidth3x: math.div(3, $dppx) * $targetWidth;
    $imageSetList: ();
    // 1x
    @if $targetWidth1x <= $sourceWidth {
      $imageSetList: append(
        $imageSetList,
        url("#{$url}?as=webp&width=#{$targetWidth1x}") 1x,
        comma
      );
      // 2x
      @if $targetWidth2x <= $sourceWidth {
        $imageSetList: append(
          $imageSetList,
          url("#{$url}?as=webp&width=#{$targetWidth2x}") 1x,
          comma
        );
        // 3x
        @if $targetWidth3x <= $sourceWidth {
          $imageSetList: append(
            $imageSetList,
            url("#{$url}?as=webp&width=#{$targetWidth3x}") 1x,
            comma
          );
        } @else {
          $imageSetList: append(
            $imageSetList,
            url("#{$url}?as=webp") $sourceDppx + x,
            comma
          );
        }
      } @else {
        $imageSetList: append(
          $imageSetList,
          url("#{$url}?as=webp") $sourceDppx + x,
          comma
        );
      }
    } @else {
      $imageSetList: append(
        $imageSetList,
        url("#{$url}?as=webp") $sourceDppx + x,
        comma
      );
    }
    background-image: url("#{$url}?as=jpeg&width=#{$targetWidth1x}");
    background-image: -webkit-image-set($imageSetList);
    background-image: image-set($imageSetList);
  }
}

.hero-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* experimental jams */
.experimental-jams {
  @include heroBackgroundImage("../images/experimental-jams.png", 1920, 0.75);
  background-position: center;
}

/* strawberry disaster */
.strawberry-disaster {
  @include heroBackgroundImage("../images/strawberry-disaster.png", 1920, 0.75);
  background-position: top;
}
