<div class="tile is-ancestor">
  <div class="tile is-4 is-parent">
    ${ for(experimental-jams) }
    <a class="tile is-child card" href="${ it.href }">
      <div class="card-image">
        <figure class="image is-16by9">
          <picture>
            <source
              srcset="../images/${ it.hero }.png?as=avif&width=1920"
              type="image/avif"
            />
            <source
              srcset="../images/${ it.hero }.png?as=webp&width=1920"
              type="image/webp"
            />
            <source
              srcset="../images/${ it.hero }.png?as=jpeg&width=1920"
              type="image/jpeg"
            />
            <source
              srcset="../images/${ it.hero }.png?as=avif&width=970"
              type="image/avif"
            />
            <source
              srcset="../images/${ it.hero }.png?as=webp&width=970"
              type="image/webp"
            />
            <source
              srcset="../images/${ it.hero }.png?as=jpeg&width=970"
              type="image/jpeg"
            />
            <source
              srcset="../images/${ it.hero }.png?as=avif&width=300"
              type="image/avif"
            />
            <source
              srcset="../images/${ it.hero }.png?as=webp&width=300"
              type="image/webp"
            />
            <source
              srcset="../images/${ it.hero }.png?as=jpeg&width=300"
              type="image/jpeg"
            />
            <img
              src="../images/${ it.hero }.png?as=jpeg&width=1920"
              type="image/jpeg"
              alt="Hero image"
            />
          </picture>
        </figure>
      </div>
      <div class="card-content is-size-4 has-text-weight-medium">
        ${ it.name }
      </div>
    </a>
    ${ endfor }
  </div>
</div>
