<nav
  class="navbar has-ratio ${ it }"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand">
    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbar"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/"> keri.is </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="/experimental-jams/index.md">
          Experimental Jams
        </a>

        <div class="navbar-dropdown">
          <a
            class="navbar-item"
            href="/experimental-jams/strawberry-disaster.md"
          >
            Strawberry Disaster
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
