@charset "UTF-8";

/* fade in */

@keyframes fadeInUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.gallery {
  animation: 500ms ease-in 0s fadeInUp;
}

:root {
  color-scheme: light dark;

  /* CSS HEX */
  --space-indigo: #2d3047ff;
  --seaweed: #419d78ff;
  --sunlit-clay: #e0a458ff;
  --soft-apricot: #ffdbb5ff;
  --vivid-orchid: #c04abcff;

  /* Colors */
  --bg: var(--sunlit-clay);
  --bg-dark: var(--space-indigo);
  --text: var(--space-indigo);
  --text-dark: var(--sunlit-clay);

  /* Font */
  --font-header: var(--font-jojoba);
}

body {
  color: light-dark(var(--text), var(--text-dark));
  background-color: light-dark(var(--bg), var(--bg-dark));
}

@media screen and (orientation: landscape) {
  body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media screen and (orientation: portrait) {
  body {
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 6%;
    padding-right: 6%;
  }
}

a {
  color: inherit;
  text-decoration: inherit;
  transition: color 500ms;
}

a:hover {
  color: var(--vivid-orchid);
  transition: color 500ms;
}

h1 {
  font-family: var(--font-header);
  font-weight: 400;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  font-size: 3.2rem;
  line-height: 1;
}

#subtitle::before {
  content: "– ";
}

h2 {
  font-style: italic;
  font-weight: 400;
  margin-top: 2.1rem;
  margin-bottom: 1.4rem;
  font-size: 2.2rem;
  line-height: 1;
}

h3 {
  font-style: italic;
  font-weight: 400;
  font-size: 1.7rem;
  margin-top: 2rem;
  margin-bottom: 1.4rem;
  line-height: 1;
}

hr {
  display: block;
  height: 0;
  border: 2px solid light-dark(var(--bg-dark), var(--bg));
  border-radius: 4px;
  width: 87%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 2rem;
  padding: 0;
}
