${ if(title) }
<section class="hero is-medium is-primary"${ if(hero)} style="background-image: url('${ hero }?as=jpeg'); background-position: center center; background-repeat: no-repeat; background-attachment: fixed; background-size: cover;"${endif}>
    <div class="hero-body">
      <p class="title">${ title }</p>
      ${ if(subtitle) }
      <p class="subtitle">${ subtitle }</p>
      ${ endif }
    </div>
  </div>
</section>
${ endif }
<section class="section">
  <div class="container is-widescreen">${ body }</div>
</section>
