${ if(title) }
<section class="hero is-primary">
  ${ if(hero) }
  <figure class="image is-16by9">
    <picture>
      <source srcset="${ hero }?as=avif&width=1920" type="image/avif" />
      <source srcset="${ hero }?as=webp&width=1920" type="image/webp" />
      <source srcset="${ hero }?as=jpeg&width=1920" type="image/jpeg" />
      <source srcset="${ hero }?as=avif&width=970" type="image/avif" />
      <source srcset="${ hero }?as=webp&width=970" type="image/webp" />
      <source srcset="${ hero }?as=jpeg&width=970" type="image/jpeg" />
      <source srcset="${ hero }?as=avif&width=300" type="image/avif" />
      <source srcset="${ hero }?as=webp&width=300" type="image/webp" />
      <source srcset="${ hero }?as=jpeg&width=300" type="image/jpeg" />
      <img
        src="${ hero }?as=jpeg&width=1920"
        type="image/jpeg"
        alt="Hero image"
      />
    </picture>
  </figure>
  ${ endif }
  <div class="hero-body">
    <p class="title">${ title }</p>
    ${ if(subtitle) }
    <p class="subtitle">${ subtitle }</p>
    ${ endif }
  </div>
</section>
${ endif }
<section class="section">
  <div class="container">${ body }</div>
</section>