<picture>
  <source srcset="images/${ it.hero }.png?as=avif&width=1920" type="image/avif" />
  <source srcset="images/${ it.hero }.png?as=webp&width=1920" type="image/webp" />
  <source srcset="images/${ it.hero }.png?as=jpeg&width=1920" type="image/jpeg" />
  <source srcset="images/${ it.hero }.png?as=avif&width=970" type="image/avif" />
  <source srcset="images/${ it.hero }.png?as=webp&width=970" type="image/webp" />
  <source srcset="images/${ it.hero }.png?as=jpeg&width=970" type="image/jpeg" />
  <source srcset="images/${ it.hero }.png?as=avif&width=300" type="image/avif" />
  <source srcset="images/${ it.hero }.png?as=webp&width=300" type="image/webp" />
  <source srcset="images/${ it.hero }.png?as=jpeg&width=300" type="image/jpeg" />
  <img
    src="images/${ it.hero }.png?as=jpeg&width=1920"
    type="image/jpeg"
    alt="Hero image"
  />
</picture>