<section class="hero is-primary">
  <!-- Hero head: will stick at the top -->
  ${ if(navbar) }
  <div class="hero-head">
    ${ if(background-image) }
    <figure class="image is-16by9">${ navbar() }</figure>
    ${ else }
    ${ navbar() }
    ${ endif }
  </div>
  ${ endif }

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="level is-mobile">
      <div class="level-left">
        <div class="level-item">
          <h1 class="title">${ title }</h1>
        </div>
      </div>
      ${ if(subtitle) }
      <div class="level-right">
        <div class="level-item">
          <p class="subtitle">${ subtitle }</p>
        </div>
      </div>
      ${ endif }
    </div>
  </div>
</section>
