<section class="hero is-primary">
  <div class="container has-text-centered">
    <div class="hero-body">
      ${ if(profile) }
      <div class="level">
        <div class="level-item has-text-centered">
          <figure class="image profile is-128x128">
            <img class="is-rounded" src="${ profile }?as=jpeg">
          </figure>
        </div>
      </div>
      ${ endif }
      <p class="title">
        ${ title }
      </p>
      ${ if(subtitle) }
      <p class="subtitle">
        ${ subtitle }
      </p>
      ${ endif }
    </div>
  </div>
</section>
<section class="section">
  <div class="container is-max-desktop">
    <div class="columns is-gapless">
      <div class="column is-2"></div>
      <div class="column is-8">
        ${ for(links) }
        <a class="box notification is-info" title="${ it.name }" href="${ it.href }">
          ${ if(it.icon) }
          <i class="${ it.icon }" alt="${ it.name }"></i>
          ${ endif }
          <strong>${ it.site }</strong>
        </a>
        ${ endfor }
      </div>
      <div class="column is-2"></div>
    </div>
  </div>
</section>