<section class="hero is-primary">
  <div class="container has-text-centered">
    <div class="hero-body">
      ${ if(profile) }
      <div class="level">
        <div class="level-item has-text-centered">
          <figure class="image profile is-128x128">
            <img
              src="${ profile }?as=jpeg&width=480"
              class="is-rounded"
              type="image/jpeg"
              alt="Hero image"
            />
          </figure>
        </div>
      </div>
      ${ endif }
      <p class="title">
        ${ title }
      </p>
      ${ if(subtitle) }
      <p class="subtitle">
        ${ subtitle }
      </p>
      ${ endif }
    </div>
  </div>
</section>
<section class="section">
  <div class="columns is-max-widescreen is-centered">
    <div class="column is-four-fifths">
      ${ for(links) }
      <a class="box notification is-info" title="${ it.handle }" href="${ it.url }">
        ${ if(it.brand) }
        ${ if(it.icon) }
        <i class="${ it.icon/lowercase }" aria-label="${ it.brand/lowercase }"></i>
        ${ else }
        <i class="fa-brands fa-${ it.brand/lowercase }" aria-label="${ it.brand/lowercase }"></i>
        ${ endif }
        ${ endif }
        <strong>${ it.brand }</strong>
      </a>
      ${ endfor }
    </div>
  </div>
</section>